body {
	padding: 0px;
	margin: 5px;
}

#header {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 33px;
	background-color: #4a5aff;
	color: #ffffff;
	vertical-align: middle;
	border-bottom: solid 2px #000000;
}

#header span.title {
	padding-left: 8px;
	font-size: 1.5em;
}

#header a,
#header a:hover,
#header a:visited,
#header a.active {
	position: fixed;
	top: 4px;
	right: 6px;
	color: #ffffff;
	font-size: 1.2em;
}

#options {
	position: fixed;
	left: 8px;
	top: 47px;
	bottom: 8px;
	width: 300px;
}

#processors {
	display: block;
	overflow-y: scroll;
	height: 200px;
	border: solid 2px #aaaaaa;
}

div.processor {
	cursor: default;
	border-bottom: solid 2px #dfefff;
}

div.processor:active, 
div.processor:hover {
	background-color: #dfefff;
}

div.processor span.title {
	display: block;
	font-weight: bold;
}

div.processor span.description {
	display: block;
	font-style: italic;
	font-size: .9em;
}

div.processorSelected, 
div.processorSelected:hover, 
div.processorSelected:active {
	background-color: #bfcfff;
}

#fieldcontainer {
	padding: 8px;
	position: fixed;
	top: 262px;
	bottom: 8px;
	width: 280px;
	overflow-y: scroll;
	border: solid 2px #aaaaaa;
}

#fields {
}

#fields select {
	width: 268px;
}

#fields input {
	width: 262px;
}

#textcontainer {
	position: fixed;
	top: 45px;
	left: 315px;
	right: 8px;
	bottom: 8px;
}

#text {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;        /* Opera/IE 8+ */
     width: 100%;
     height: 100%;
     font-size: 1.3em;
}
